@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');


/* font-family: "Hanken Grotesk", sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section_containers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* FIRST SECTION */
.section_1{
    width: 270px;
    border-radius: 20px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 69%, 44%));
    /* border-width: 2; */
    /* background-image:  */
}
.myresult h2{
    font-size: 18px;
    padding: 30px 60px 35px 84px;
    font-family: "Hanken Grotesk", sans-serif;
    color: hsl(241, 100%, 89%);
}
.circle{
    margin: 0px 57px 25px 49px;
    border-radius: 100px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));


}
.circle .F_val{
    font-size: 60px;
    font-weight: 800;
    font-family: "Hanken Grotesk", sans-serif;
    padding-top: 30px;
    padding-left: 50px;
    /* color:  hsla(256, 72%, 46%, 1);\ */
    color: hsl(0, 0%, 100%);
    
}

.circle .S_val{
    font-size: 15px;
    font-family: "Hanken Grotesk", sans-serif;
    padding-left: 60px;
    padding-bottom: 30px;
    color: hsl(241, 100%, 89%);
}

h3{
    font-size: 25px;
    font-family: "Hanken Grotesk", sans-serif;
    padding-left: 95px;
    padding-bottom: 0px;
    color: hsl(0, 0%, 100%);
}
.percent{
    font-size: 15px;
    font-family: "Hanken Grotesk", sans-serif;
    padding: 10px 35px 30px 26px;
    text-align: center;
    color: hsl(241, 100%, 89%);
}

/* SECOND SECTION  */

.section_2{
    border: 1px solid white;
    box-shadow: 20px 20px 10px hsl(234, 85%, 98%) ;
    width: 290px;
    border-radius: 20px;
    background-color: white;
}

main{
    display: flex;
    flex: wrap;
}

body{
    margin: 100px 450px;
}


/* SECTION 2 */
.section_2 h2{
    margin: 30px 10px 20px 20px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 20px;
}


/* Rection */
.rection{
    display: flex;
    /* justify-content: space-around; */
    margin: 20px;
    background-color: hsl(0, 38%, 98%);
    border-radius: 10px;
}
.rection .R_icon{
    padding: 10px 5px 10px 10px;
}
.rection .R{
    padding: 10px 50px 10px 5px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    color: hsl(0, 100%, 67%);
    font-weight: 600;
}
.rection .No{
    padding: 10px 0px 10px 5px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.rection .Perc{
    padding: 10px 0px 10px 5px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.4;
}

/* Memory */
.Memory{
    display: flex;
    /* justify-content: space-around; */
    margin: 20px;
    background-color: hsl(39, 100%, 98%);
    border-radius: 10px;
}
.Memory .M_icon{
    padding: 10px 5px 10px 10px;
}
.Memory .M{
    padding: 10px 50px 10px 5px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    color: hsl(39, 100%, 56%);
    font-weight: 600;
}
.Memory .No{
    padding: 10px 0px 10px 5px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.Memory .Perc{
    padding: 10px 0px 10px 5px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.4;
}

/* Verbal */
.Verbal{
    display: flex;
    /* justify-content: space-around; */
    margin: 20px;
    background-color:  hsl(166, 100%, 98%);
    border-radius: 10px;
}
.Verbal .V_icon{
    padding: 10px 5px 10px 10px;
}
.Verbal .V{
    padding: 10px 50px 10px 5px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    color:  hsl(166, 100%, 37%);
    font-weight: 600;
}
.Verbal .No{
    padding: 10px 0px 10px 20px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.Verbal .Perc{
    padding: 10px 0px 10px 5px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.4;
}

/* Visual */
.Visual{
    display: flex;
    /* justify-content: space-around; */
    margin: 20px;
    background-color: hsl(234, 85%, 98%);
    border-radius: 10px;
}
.Visual .Vi_icon{
    padding: 10px 5px 10px 10px;
}
.Visual .Vi{
    padding: 10px 50px 10px 5px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    color:  hsl(234, 85%, 45%);
    font-weight: 600;
}
.Visual .No{
    padding: 10px 0px 10px 20px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.Visual .Perc{
    padding: 10px 0px 10px 5px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.4;
}

/* CONTINUE BTN */
.btn{
    margin: 20px;
    padding: 10px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
    background-color: hsl(241, 71%, 53%);
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: hsl(224, 30%, 27%);
}

.attribution{
    margin: 40px 50px 0px 50px;
    text-align: center;
}

@media screen and (max-width: 375px){
    body{
        margin: 0;
        padding: 0;
    }

    .section_containers{
        display: flex;
        flex-direction: column;
    }

    .section_1{
        width: 376px;
        background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 69%, 44%));
        border-radius: 0;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .myresult h2{
        padding: 30px 60px 30px 135px;
        font-size: 20px;
    }
    .circle{
        margin: 0px 100px 10px 100px;
        border-radius: 100px;
        background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    
    }
    .circle .F_val{
        font-size: 70px;
        font-weight: 800;
        padding-top: 28px;
        padding-left: 47px;
        
    }
    
    .circle .S_val{
        font-size: 18px;
        padding-left: 60px;
        padding-bottom: 30px;
        color: hsl(242, 19%, 50%);
        font-weight: 800;
    }
    
    h3{
        font-size: 28px;
        padding-top: 15px;
        padding-left: 153px;
        padding-bottom: 0px;

    }
    .percent{
        font-size: 17px;
        font-weight: 500;
        padding: 10px 50px 35px 60px;

    }

    /* Section 2 */
    .section_2{
        width: 376px;
        border-radius: 20px;
    }

    .rection .R{
        padding: 10px 120px 10px 5px;
    }

    .Memory .M{
        padding: 10px 120px 10px 5px;
    }

    .Verbal .V{
        padding: 10px 120px 10px 5px;
    }

    .Visual .Vi{
        padding: 10px 120px 10px 5px;
    }

    /* CONTINUE BTN */
.btn{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    }
}